<h1>Add your new task below</h1>

<form action="/createtask">

  <label for = "content">CONTENT</label>
  <input id = "content" type = "text" name = "content">
  <br>

  <label for = "owner">OWNER</label>
  <input id = "owner" type = "text" name = "owner">
  <br>

  <label for = "done">DONE</label>
  <input id = "done" type = "checkbox" name = "done">
  <br>

  <label for = "important">IMPORTANT</label>
  <input id = "important" type = "checkbox" name = "important">
  <br>

<input type = "Submit">



</form>
