<h2>No more GTD. Time to GTS. <small>getting tasks smashed</small></h2>
<%= form_tag tasks_url, method: 'get' do %>
<button type="submit" class="btn btn-danger" id = "welcome_button">START SMASHING</button>
<% end %>

