

<div class="row">
  <div class="col-md-12">
    <h2>Sick of getting things done?<small>get ready for smashing your tasks</small></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= form_tag new_user_url, method: 'get' do %>
    <button type="submit" class="btn btn-info" id = "welcome_button">CREATE A NEW ACCOUNT</button>
    <% end %>
  </div>

</div>
